.infoTooltip__message {
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
}

@media screen and (min-width: 1000px) {
  .infoTooltip__message {
    font-size: 24px;
    line-height: 24px;
  }
}