.profile {
  margin: 0;
  padding: 42px 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
  justify-content: space-between;
  box-sizing: border-box;
}

@media screen and (min-width: 900px) {
  .profile {
    padding: 39px 0 0;
    flex-direction: row;
  }
}
