.auth__form-fields {
  padding: 0;
  margin: 0 0 145px;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .auth__form-fields {
    margin: 0 0 188px;
  }
}