.header__sign-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  line-height: 14px;
  transition: opacity 0.3s ease;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .header__sign-link {
    font-size: 18px;
    line-height: 18px;
  }
}

.header__sign-link:hover {
  opacity: 0.6;
}